.results {
    width:100%;
    display:block
}

.recipeBox {
    width:202px;
    height:224px;
    display:inline-block;
    vertical-align:top;
    margin:6px;
}

/*.recipeBox:hover {
    width:500px;
    height:500px;
    display:inline-block;
    vertical-align:top;
    margin:6px;
}*/

.recipeCard {
    border:1px solid #E1E3DF;
    display:block;
    height:100%;
    text-decoration:none;
    padding:4px;
}

.recipeCard:hover {
    border:1px solid #E1E3DF;
    display:block;
    height:100%;
    text-decoration:none;
    padding:4px
}

.recipeCardImage {
    width:192px;
    height:192px;
    object-fit:cover
}

.recipeCardTitle {
    color:#222;
    width:192px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}

.recipeHeaderContainer {
  overflow: hidden;
  padding-top: 2%;
}

.recipeHeaderImage {
  float: left;
}

.recipeHeaderImage img {
  max-width: 400px;
  max-height: 400px;
}

.recipeHeaderText {
  overflow: hidden;
  padding-left: 14px;
}

.recipeParagraph {
  white-space: pre-line;
}